.backgroundSet {
	background-image: url('../img/bg.jpg'); 
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.whiteText {
	color: #ffffff;
}

.blackText {
	color: #333 !important;
}

.alteredText {
	color: #e6af61 !important;
}