.backgroundSet {
	background-image: url('../img/bg.jpg'); 
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: contain;
}

.whiteText {
	color: #ffffff;
}

.blackText {
	color: #333 !important;
}

.alteredText {
	color: #e6af61 !important;
}

.btn-warning {
	background-color: #e6af61 !important;
}

img {
	margin-bottom: 20px;
}

.gameOfThrones .overlay {
	opacity: 1;
}

.overlay {  
	background:rgba(0,0,0,.75);
	text-align:center;
	padding:45px 0 66px 0;
	opacity:0;
	-webkit-transition: opacity .25s ease;
}










