/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #e6af61;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

.jumbotron {text-align: center; margin-bottom: 0px;}




/*Skills chart*/


/*==================STARTSEITE================*/

h1#headerbild {
  width: 640px;
  height: 460px;
  
  margin: 0;
  margin: 0 auto;
  padding: 0;
  
  display: block;
  
  font-size: 0;
  text-indent: -5555px;
  
  background: url('../images/layout/header.png') no-repeat top center;
}
  .de h1#headerbild {
    background-image: url('../images/layout/header_de.png');
  }

ul.menu.startseite {
  margin: 0 auto;
  width: 640px;
}
  ul.menu.startseite li {
    margin-top: 0;
  }

#subboxes {
  margin: 7px 0 0 0;
}

  #subboxes .rightside, #subboxes .leftside {
    width: 50%;
    float: left;
  }
  #subboxes .leftside  {
    float: right;
  }
  
#mebox {
  width: 308px;
  height: 236px;
  
  float: right;
  
  margin: 0 26px 0 0;
  
  color: #6b6b6b;
  
  background: url('../images/layout/box_me.png') no-repeat left bottom;
}

  #mebox h2 {
    width: 202px;
    height: 68px;
    
    display: block;
    
    margin: 41px 0 0 23px;
    padding: 0;
    
    font-size: 0;
    text-indent: -5555px;
    
    background: url('../images/layout/subboxes_headline.png') no-repeat 0 -70px;
  }
    .de #mebox h2 {
      height: 80px;
      width: 172px;
      
      background: url('../images/layout/subboxes_headline_de.png') 0 -61px;
    }
  #mebox p {
    margin: 14px 0 0 23px;
    width: 170px;
    padding: 0;
  }

#contactbox {
  width: 333px;
  height: 195px;
  
  margin: 0 0 0 26px;
  padding-top: 41px;
  
  color: #40646f; 
  
  background: url('../images/layout/box_contact.png') no-repeat;
}

  #contactbox h2 {
    width: 202px;
    height: 70px;
    
    display: block;
    
    margin: 0 0 0 23px;
    padding: 0;
    
    font-size: 0;
    text-indent: -5555px;
    
    background: url('../images/layout/subboxes_headline.png') no-repeat 0 0;
  }
    .de #contactbox h2 {
      width: 194px;
        height: 60px;
      
      background: url('../images/layout/subboxes_headline_de.png') no-repeat 0 0;
    }
  #contactbox p {
    margin: 12px 0 0 23px;
    padding: 0;
    width: 260px;
  }

#mebox a.button {
  margin: 0 auto;
  margin-top: 15px;
  
  background-position: 0 0;
}
  .de #mebox a.button {
    margin-top: 11px; 
  }
#mebox a.button:hover {
  background-position: 0 -32px;
}
#mebox a.button:active {
  background-position: 0 -64px;
}

#contactbox a.button {
  margin: 15px 0 0 63px;
  
  background-position: -182px 0;
}
#contactbox a.button:hover {
  background-position: -182px -32px;
}
#contactbox a.button:active {
  background-position: -182px -64px;
}

/*==================FULLVIEW==================*/

.leftcol {
  width: 152px;
  height: 100%;
  
  padding: 0 18px 0 19px;
  
  position: fixed;
  top: 0;
  left: 0;
  
  overflow: hidden;
  
  border-right: 1px solid #ebeae7;
  
  -moz-box-shadow: 1px 0 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.1);
  box-shadow: 1px 0 0 rgba(0,0,0,0.1);
  
  background-color: #e2e0dd;
  background-color: rgba(0,0,0,0.05);
}
  .leftcol h2, .leftcol p {
    width: 152px;
  }
  .leftcol p {
    font-size: 12px;
  }
  .leftcol p.fulldatum {
    font-size: 13px !important;
  }
  

  a.minlogo, a.minlogo:link, a.minlogo:visited, a.minlogo:active {
    width: 152px;
    height: 60px;
    
    margin-top: 20px;
    
    display: block;
    
    font-size: 0;
    text-indent: -5555px;
    
    background: url('../images/layout/logo_fullview.png') no-repeat;
  }
  a.minlogo:hover {
    background-position: 0 -60px;
  }
  
  .leftcol .button.maximieren {
    position: absolute;
    left: 19px;
    bottom: 62px;
  }
  
  .leftcol .button.backwards {
    position: absolute;
    left: 19px;
    bottom: 18px;
  }
  
  .leftcol h1 {
    padding: 18px 0 5px 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #615f5d;
  }

.rightcol {
  position: absolute;
  top: 0;
  left: 190px;
  right: 0;
  bottom: 0;
  
  text-align: center;
}
  .rightcol img {
    margin: 20px auto;
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  }
  
.button.minimieren {
  position: fixed;
  left: 0px;
  top: 30px;
  /*visibility: hidden;*/
}
/*==================ABOUT=====================*/
/*------------------Map-----------------------*/

#infografik {
  width: 731px;
  
  margin: 0 auto;
  padding: 0 0 0 89px;
}
  #infografik h1 {
    padding: 0 0 40px 171px;
  }
  #infografik .rightside {
    width: 164px;
    float: left;
  }
    #infografik .rightside .gehirndesign, #infografik .rightside .gehirncoding, #infografik .rightside .gehirnspiele {
      width:  140px; /* 130px */
      padding: 7px 12px;
      margin: 0;
      
      background: url('../images/layout/gehirn_links_hover.png') no-repeat 0 500px;
    }
    #infografik .rightside .gehirndesign.aktivkat {
      background-position: 0 0;
    }
    #infografik .rightside .gehirncoding.aktivkat {
      background-position: 0 -191px;
    }
    #infografik .rightside .gehirnspiele.aktivkat {
      background-position: 0 -337px;
    }
      #infografik .rightside table {
        width: 100%;
      }
      
        #infografik .rightside table th {
          line-height: 22px;          
          text-align: right;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          cursor: default;
        }
        
        #infografik .rightside table td {
          /*padding: 3px 0;*/
          line-height: 22px;
          text-align: right;
          cursor: default;
        }
        
        #infografik .rightside table td.aktivtd {
          font-weight: bold;
          color: #3e3d3b;
        }

  #infografik .leftside {
    width: 502px;
    height: 401px;
    
    overflow: hidden;
    
    margin: 20px 0 0 0;
    
    position: relative;
    float: right;
    
    background: url('../images/layout/gehirn_sprite.png') no-repeat;
  }
  
  /* Design */
  #infografik .leftside.desi, #infografik .leftside.ps, #infografik .leftside.ai, #infografik .leftside.ind, #infografik .leftside.fla, #infografik .leftside.fw, #infografik .leftside.pp, #infografik .leftside.ae  {
    background-position: 0 -802px;
  }
  /* Coding */
  #infografik .leftside.cod, #infografik .leftside.ht, #infografik .leftside.cs, #infografik .leftside.jas, #infografik .leftside.php, #infografik .leftside.actsc {
    background-position: 0 -401px;
  }
  /* Spiele */
  #infografik .leftside.spi, #infografik .leftside.snes, #infografik .leftside.wii, #infografik .leftside.nds, #infografik .leftside.playst, #infografik .leftside.sonst {
    background-position: 0 -1203px;
  }
  
    #maphover {
      position: absolute;
      top: 0;
      left: 0;
      
      background: url('../images/layout/gehirn_hover.png') no-repeat;
    }
      /* Design */
      #maphover.ps {
        left: 86px;
        top: 0;
        width: 329px;
        height: 210px;
        background-position: 0 0;
      }
      #maphover.ai {
        left: 111px;
        top: 142px;
        width: 243px;
        height: 178px;
        background-position: 0 -210px;
      }
      #maphover.ind {
        left: 243px;
        top: 45px;
        width: 260px;
        height: 183px;
        background-position: 0 -388px;
      }
      #maphover.fla {
        left: 396px;
        top: 141px;
        width: 101px;
        height: 119px;
        background-position: 0 -571px;
      }
      #maphover.fw {
        left: 275px;
        top: 199px;
        width: 138px;
        height: 72px;
        background-position: -191px -571px;
      }
      #maphover.pp {
        left: 280px;
        top: 161px;
        width: 126px;
        height: 70px;
        background-position: 0 -690px;
      }
      #maphover.ae {
        left: 349px;
        top: 104px;
        width: 115px;
        height: 80px;
        background-position: -214px -690px;
      }
      /* Coding */
      #maphover.ht {
        left: 44px;
        top: 55px;
        width: 124px;
        height: 182px;
        background-position: 0 -906px;
      }
      #maphover.cs {
        left: 28px;
        top: 130px;
        width: 103px;
        height: 120px;
        background-position: -226px -906px;
      }
      #maphover.jas {
        left: 1px;
        top: 123px;
        width: 119px;
        height: 140px;
        background-position: 0 -1088px;
      }
      #maphover.php {
        left: 11px;
        top: 45px;
        width: 114px;
        height: 125px;
        background-position: -214px -1088px;
      }
      #maphover.actsc {
        left: 8px;
        top: 45px;
        width: 85px;
        height: 86px;
        background-position: -131px -906px;
      }
      /* Spiele */
      #maphover.snes {
        left: 271px;
        top: 245px;
        width: 182px;
        height: 70px;
        background-position: 0 -770px;
      }
      #maphover.wii {
        left: 324px;
        top: 256px;
        width: 132px;
        height: 77px;
        background-position: -197px -770px;
      }
      #maphover.nds {
        left: 317px;
        top: 311px;
        width: 122px;
        height: 45px;
        background-position: 0 -847px;
      }
      #maphover.playst {
        left: 301px;
        top: 311px;
        width: 115px;
        height: 53px;
        background-position: -214px -847px;
      }
      #maphover.sonst {
        left: 276px;
        top: 303px;
        width: 69px;
        height: 59px;
        background-position: -133px -847px;
      }
    
    #infografik .leftside .map {
      position: absolute;
      top: 0;
      left: 0;
     
      width: 502px;
      height: 401px;
    }
    
  