

.iphone {
    background-image: url("/img/iphone.jpg");
    background-repeat: no-repeat;
    height: 850px;
    width: 526px;
    margin-top: 15px
}

.iphone iframe {
    margin: 125px 0 0 99px;
    border: 0;
    width: 320px;
    height: 569px
}

.ipad {
    background-image: url("/img/ipad.jpg");
    background-repeat: no-repeat;
    height: 1480px;
    width: 1252px;
    margin-top: 20px
}

.ipad iframe {
    margin: 109px 0 0 243px;
    border: 0;
    width: 770px;
    height: 1026px
}

