<!DOCTYPE html>

<html>
				
	<body>


		<!-- Main body content -->
			{{ content }}

		<!-- Footer content -->
		<footer>
	    	<section id="end">
				<div class="container" role="container">
					<hr>
					<ul>
						<li><a href="https://uk.linkedin.com/in/aniquesayed" target="_blank">LinkedIn</a></li>
						<li><a href="https://github.com/aniquesayed" target="_blank">Github</a></li>
						<li><a href="https://www.instagram.com/aniqve/" target="_blank">Instagram</a></li>
						<li><a href="/cv">CV</a></li>
						<li><a href="mailto:aniquesayed@gmail.com">E-mail</a></li>
					</ul>
					<hr>
					<ul>
					<li><a href="https://github.com/aniquesayed/aniquesayed.github.io" target="_blank">Made using Github Pages. Source code available here.</a></li>
					</ul>
				</div>
			</section>
	    </footer>

	    <script src="js/jquery.js"></script>

	</body>

</html>
