<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css" />
			<script type="text/javascript" src="/jquery/jquery-2.1.4.min.js"></script>
			<script type="text/javascript" src="/restivejs/restive.min.js"></script>
			
			<script>
$( document ).ready(function() {
    $('body').restive({
        breakpoints: ['240', '320', '480', '640', '720', '960', '1280'],
        classes: ['rp_240', 'rp_320', 'rp_480', 'rp_640', 'rp_720', 'rp_960', 'rp_1280'],
        turbo_classes: 'is_mobile=mobi,is_phone=phone,is_tablet=tablet',
        force_dip: true
    });
});
</script>
			
		</head>
		<body>
			<div class='menu'>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<script src="/Meny/meny.js"></script>
		<script>
			// Create an instance of Meny
			var meny = Meny.create({
				// The element that will be animated in from off screen
				menuElement: document.querySelector( '.menu' ),
				// The contents that gets pushed aside while Meny is active
				contentsElement: document.querySelector( '.container' ),
				// [optional] The alignment of the menu (top/right/bottom/left)
				position: Meny.getQuery().p || 'left',
				// [optional] The height of the menu (when using top/bottom position)
				height: 200,
				// [optional] The width of the menu (when using left/right position)
				width: 260,
				// [optional] Distance from mouse (in pixels) when menu should open
				threshold: 40,
				// [optional] Use mouse movement to automatically open/close
				mouse: true,
				// [optional] Use touch swipe events to open/close
				touch: true
			});
			// API Methods:
			// meny.open();
			// meny.close();
			// meny.isOpen();
			// Events:
			// meny.addEventListener( 'open', function(){ console.log( 'open' ); } );
			// meny.addEventListener( 'close', function(){ console.log( 'close' ); } );
			// Embed an iframe if a URL is passed in
			if( Meny.getQuery().u && Meny.getQuery().u.match( /^http/gi ) ) {
				var contents = document.querySelector( '.contents' );
				contents.style.padding = '0px';
				contents.innerHTML = '<div class="cover"></div><iframe src="'+ Meny.getQuery().u +'" style="width: 100%; height: 100%; border: 0; position: absolute;"></iframe>';
			}
		</script>

			
			<footer>
	    		<ul>
	        		<li><a href="mailto:aniquesayed@gmail.com">email</a></li>
	        		<li><a href="https://github.com/aniquesayed">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
