<!DOCTYPE html>
	<html lang="en" class="no-js">
		<head>
			<meta charset="UTF-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
			<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
			<title>{{ page.title }}</title>
			<meta name="google-site-verification" content="uY5sSiks6yqC3ZpAEj4XRcOP7mco4YO6oi5Gi4dinD4" />
			
			<meta name="description" content="Personal Website for Anique Sayed" />
			<meta name="keywords" content="Anique Sayed, Web Developer, Dev" />
			<meta name="author" content="Anique Sayed" />
			<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
			<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
			<link href="/fullPage/jquery.fullPage.css" rel="stylesheet" type="text/css"  />
			<link href="/introPage/styles.css" rel="stylesheet" type="text/css"  />
			<!--<script src="/introPage/interaction.js"></script>-->
			 <link href='http://fonts.googleapis.com/css?family=Nixie+One|Parisienne|Gilda+Display|Oleo+Script+Swash+Caps|Simonetta|PT+Mono|Josefin+Sans|Londrina+Outline|Alegreya+Sans|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700|Varela+Round|Amatic+SC|Text+Me+One' rel='stylesheet' type='text/css'>
 			<link href="/introPage/fonts.css" rel="stylesheet" type="text/css"  />
			<script src="/typed/js/typed.js"></script>
			<link href="/introPage/myTypedCss.css" rel="stylesheet" type="text/css"  />
			<script src="/introPage/myTypedJs.js"></script>
		</head>
		<body>
			
			<header>
			<div>
			
			{{ content }}
			
			</div><!-- /.body content -->
			</header>
			
		</body>

	</html>
