<!DOCTYPE html>
	<html lang="en" class="no-js">
		<head>
			<meta charset="UTF-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
			<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
			<title>{{ page.title }}</title>
			<meta name="description" content="Personal Website for Anique Sayed" />
			<meta name="keywords" content="Anique Sayed, Web Developer, Dev" />
			<meta name="author" content="Anique Sayed" />
			<link href="/fullPage/jquery.fullPage.css" rel="stylesheet" type="text/css"  />
		</head>
		<body>
			
			<header>
			<div>
			
			{{ content }}
			
			</div><!-- /.body content -->
			</header>
			
		</body>

	</html>
