<!DOCTYPE html>
<html lang="en">
		
	<head>
			
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<meta name="description" content="Personal Website for Anique Sayed" />
		<meta name="keywords" content="Anique Sayed, Developer, Dev" />
		<meta name="author" content="Anique Sayed" />
		<meta name="google-site-verification" content="uY5sSiks6yqC3ZpAEj4XRcOP7mco4YO6oi5Gi4dinD4" />

		<title>{{ page.title }}</title>

		<!-- BOOTSTRAP CDN -->

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

		<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="/css/default.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

	</head>

	<body>
		
		<!-- Header -->
		<div class="jumbotron">
  			<div>
    			<h1><a href="/">Anique Sayed</a></h1>
    		</div>
			<br>
			<blockquote class="hvr-underline-from-left">
				<p>"Stay hungry. Stay foolish."</p>
				<footer>Steve Jobs</footer>
			</blockquote>
			<div class="container">
				<a href="/projects/notebook/" class="back"><h5>Notebook</h5></a>
				<a href="/projects/kitchen-system/" class="forward"><h5>N1 Kitchen System</h5></a>
			</div>
		</div>

		<!-- Main body content -->
		<body>
			{{ content }}
		</body>

		<!-- Footer content -->
		<footer>
	    	<section id="end">
				<div class="container" role="container">
					<hr>
					<ul>
						<li><a href="https://uk.linkedin.com/in/aniquesayed" target="_blank">LinkedIn</a></li>
						<li><a href="https://github.com/aniquesayed" target="_blank">Github</a></li>
						<li><a href="https://www.instagram.com/aniqve/" target="_blank">Instagram</a></li>
						<li><a href="/cv">CV</a></li>
						<li><a href="mailto:aniquesayed@gmail.com">E-mail</a></li>
					</ul>
					<hr>
					<ul>
					<li><p>Website made using Github Pages. View the source code <a href="https://github.com/aniquesayed/aniquesayed.github.io" target="_blank">here</a>.</p></li>
					</ul>
				</div>
			</section>
	    </footer>

		<script src="js/jquery.js"></script> 

		
	</body>

</html>
